:root {
  --tableHead-bg: #2f4096;
  --importTitle: #1e2652;
  --tableData-color: #1e2652;
  --border-color: #535b87;
  --label-color: #333d70;
  --placeHolder-color: #333d70;
  --svg-color: #1e2652;
  --activetab-color: #d1eeff;
  --activetab-bg-color: #1e2652;
  --tab-color: #60b6e8;
  --tab-bg-color: #f6fcff;
  --line-color: #333d70;
  --link-color: #5d70d7;
}
:global(.dark-mode) {
  --tableHead-bg: #101322;
  --importTitle: #f6fcff;
  --tableData-color: #f6fcff;
  --border-color: #d1eeff;
  --label-color: #d1eeff;
  --placeHolder-color: #d1eeff;
  --svg-color: #f6fcff;
  --activetab-color: #101322;
  --activetab-bg-color: #abd3eb;
  --tab-color: #f6fcff;
  --tab-bg-color: #10152e;
  --line-color: #f6fcff;
  --link-color: #29b0ff;
}
.container {
  min-height: 320px;
  max-height: fit-content;
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
}
@media (max-width: 1242px) {
    
.container {
    min-height: 320px;
    max-height: fit-content;
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  .leftBox {
transform: translateX(-10%);  }
}
.leftBox {
  display: flex;
  flex-direction: column;
  width: 64%;
}
.RightBox {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 34%;
}
.label {
  color: var(--label-color);

  /* Placeholder Text */
  font-family: "Instrument Sans";
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.labelData {
  color: var(--label-color);

  /* Instrument Sans */
  font-family: "Instrument Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.tableHead {
  background: var(--tableHead-bg);
  color: var(--Table-Row-1, #f6fcff);

  /* Table Title */
  font-family: "Instrument Sans";
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  white-space: nowrap;
  text-align: center;

}
.tableData {
  color: var(--tableData-color);

  /* Table Body */
  font-family: "Instrument Sans";
  font-size: 11px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.14px;
  text-align: center;
}
.tableData td {
  white-space: nowrap;
}
table {
  /* table-layout: auto; ✅ Allows dynamic column width */
  width: 100%; /* Ensures it uses full space */
}
