:root {
  --tableHead-bg: #2f4096;
  --importTitle: #1e2652;
  --tableData-color: #1e2652;
  --border-color: #535b87;
  --label-color: #333d70;
  --placeHolder-color: #333d70;
  --svg-color: #1e2652;
  --activetab-color: #60b6e8;
  --activetab-bg-color: #1e2652;
  --tab-color: #60b6e8;
  --tab-bg-color: #f6fcff;
  --line-color: #333d70;
  --input-border-color: #535b87;
  --svg-color: #1e2652;
}
:global(.dark-mode) {
  --tableHead-bg: #101322;
  --importTitle: #f6fcff;
  --tableData-color: #f6fcff;
  --border-color: #d1eeff;
  --label-color: #d1eeff;
  --placeHolder-color: #d1eeff;
  --svg-color: #f6fcff;
  --activetab-color: #101322;
  --activetab-bg-color: #abd3eb;
  --tab-color: #f6fcff;
  --tab-bg-color: #10152e;
  --line-color: #f6fcff;
}
/* ========================= Table Styling ========================== */
.change-req-labels{
  color: var(--label-color);
    font-weight: 600;
  /* white-space: pre; */
  font-size: 12px;
  margin-right: 4px;
  font-family: "Instrument Sans" !important ;
  font-style: normal !important ;
  font-weight: 600 !important ;
  line-height: normal !important ;
}
.form-pass {
  overflow-x: auto;
  width: 100%;
}
.table-pass {
  width: 100%;
  border-collapse: collapse; /* Ensures clean borders */
  margin-top: 10px;
  background-color: #fff; /* White background */
  border: 1px solid #ddd; /* Subtle outer border */
}
.headRow-pass {
  background-color: var(--tableHead-bg);
}
/* Table Header Styling */
.head-pass th {
  height: 41px;
  white-space: nowrap; /*Prevents text from wrapping */
  overflow: hidden;
  text-overflow: ellipsis;
  min-width: 92px;
  max-width: 200px; /* ✅ Adjust max width if necessary*/
  font-weight: 500;
  text-align: center;
  padding: 0px 12px;

  /* border-bottom: 1px solid #333;  */
}

/* Table Body Styling */
.body-pass tr {
  transition: background-color 0.3s ease; /* Smooth hover effect */
  font-size: 12px;
}

/* Hover Effect on Rows */
.body-pass tr:hover {
  background-color: #ceccfd; /* Light blue on hover */
}

/* Selected Row Styling */
.selected-row.primary-selected {
  font-weight: 600;
  border-top: 0.08rem solid #0a0a0a79;
  border-bottom: 0.08rem solid #0a0a0a79;
}

/* Table Data Cell Styling */
.td-pass {
  white-space: nowrap;
  /* overflow: hidden; */
  text-overflow: ellipsis;
  min-width: 92px;
  max-width: 200px;
  text-align: center;
  color: var(--tableData-color);
  /* display: flex; */
  /* align-items: center;
    justify-content: center; */
}

/* Table Row Alternate Colors for Readability */

/* Button Cell Alignment */
.td-pass button {
  margin: 0 4px; /* Space between buttons */
}
