:root {
  --digits-size: 18px;
  --font-size: 75%;
  --title-size: 18px;
  --import-title-color: #d1eeff;
  --export-title-color: #d5f1d2;
  --transport-title-color: #ffdbdd;
  --accounts-title-color: #f1d2f0;
  --sales-title-color: #bdf2f5;
  --userreport-title-color: #f1ead2;
  --freightforwarding-title-color: #f1d2f0;
  --sales-inner-title-color: #f6fcff;

  --import-bg-color: #333d70;
  --export-bg-color: #337039;
  --transport-bg-color: #9c565a;
  --accounts-bg-color: #823d7f;
  --sales-bg-color: #336c70;
  --userreport-bg-color: #8e7b3a;
  --freightforwarding-bg-color: #a44082;

  --import-border-color: #d1eeff;
  --export-border-color: #d5f1d2;
  --transport-border-color: #ffdbdd;
  --accounts-border-color: #f1d2f0;
  --sales-border-color: #bdf2f5;
  --userreport-border-color: #f1ead2;
  --freightforwarding-border-color: #f1d2f0;
}
.dark-mode {
  --import-title-color: #60b6e8;
  --export-title-color: #8dcb93;
  --transport-title-color: #f99499;
  --accounts-title-color: #e265dd;
  --sales-title-color: #3ec1ca;
  --userreport-title-color: #e3c666;
  --freightforwarding-title-color: #e375be;
  --sales-inner-title-color: #bdf2f5;

  --import-bg-color: #151c3d;
  --export-bg-color: #1e4722;
  --transport-bg-color: #531f22;
  --accounts-bg-color: #3D163B;
  --sales-bg-color: #173e40;
  --userreport-bg-color: #4b4018;
  --freightforwarding-bg-color: #4d1339;

  --import-border-color: #10152e;
  --export-border-color: #0f2812;
  --transport-border-color: #2f1214;
  --accounts-border-color: #2d0e2b;
  --sales-border-color: #0e292a;
  --userreport-border-color: #332c10;
  --freightforwarding-border-color: #330d26;
}
.main-container {
  display: flex;
  width: 100%;
  height: 84vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
  /* new code   */
  position: relative;
  right: 4px;
}
.top-cards {
  display: flex;
  width: 100%;
  height: 20%;
  justify-content: space-between;
  align-items: center;
  /* align-self: stretch; */
}
.import-card {
  display: flex;
  width: 49.5%;
  height: 100%;
  min-width: 190px;
  padding: 1% 3%;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 10px;
  border-radius: 33px;
  border: 6px solid var(--import-border-color);
  background-color: var(--import-bg-color);
  transition: background-color 0.3s ease, border 0.3s ease;
}
.export-card {
  display: flex;
  width: 49.5%;
  height: 100%;
  min-width: 190px;
  padding: 1% 3%;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;

  gap: 10px;
  border-radius: 33px;
  border: 6px solid var(--export-border-color);
  background-color: var(--export-bg-color);
  transition: background-color 0.3s ease, border 0.3s ease;
}
.transportation-card {
  display: flex;
  width: 48%;
  height: 100%;
  min-width: 290px;
  padding: 2% 3%;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 40%;
  flex-shrink: 0;
  border-radius: 33px;
  border: 6px solid var(--transport-border-color);
  background-color: var(--transport-bg-color);
  transition: background-color 0.3s ease, border 0.3s ease;
}
.middle-cards {
  display: flex;
  height: 50%;
  align-items: center;
  align-self: stretch;
}
.accounts-card {
  display: flex;
  width: 59.5%;
  height: 100%;
  padding: 1% 3%;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;

  gap: 10px;
  /* position: absolute; */
  border-radius: 33px;
  border: 6px solid var(--accounts-border-color);
  background-color: var(--accounts-bg-color);
  transition: background-color 0.3s ease, border 0.3s ease;
}
.outer-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
  align-self: stretch;
}
.inner-box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
  align-self: stretch;
}
.sales-card {
  display: flex;
  height: 44%;
  width: 58.5%;
  padding: 1% 3%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex: 1 0 0;
  position: absolute;
  right: 0%;
  border-radius: 33px;
  border: 6px solid var(--sales-border-color);
  background-color: var(--sales-bg-color);
  transition: background-color 0.3s ease, border 0.3s ease;
}
.bottom-cards {
  display: flex;
  height: 21%;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}
.userReport-card {
  display: flex;
  width: 39.5%;
  height: 100%;
  padding: 1% 3%;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  flex-shrink: 0;
  border-radius: 33px;
  border: 6px solid var(--userreport-border-color);
  background-color: var(--userreport-bg-color);
  transition: background-color 0.3s ease, border 0.3s ease;
}
.freightForwarding-card {
  display: flex;
  width: 49%;
  height: 100%;
  padding: 1% 3%;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  flex-shrink: 0;
  border-radius: 33px;
  border: 6px solid var(--freightforwarding-border-color);
  background-color: var(--freightforwarding-bg-color);
  transition: background-color 0.3s ease, border 0.3s ease;
}
.imp-outer-box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2%;
  align-self: stretch;
}
.imp-title-color {
  align-self: stretch;
  color: var(--import-title-color);
  transition: color 0.3s ease;
}
.exp-title-color {
  align-self: stretch;
  color: var(--export-title-color);
  transition: color 0.3s ease;
}
.exp-outer-box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2%;
  align-self: stretch;
}
.trans-title-color {
  align-self: stretch;
  color: var(--transport-title-color);
  transition: color 0.3s ease;
}
.accounts-title-color {
  align-self: stretch;
  color: var(--accounts-title-color);
  transition: color 0.3s ease;
}
.sales-title-color {
  align-self: stretch;
  color: var(--sales-title-color);
  transition: color 0.3s ease;
}
.userReport-title-color {
  align-self: stretch;

  color: var(--userreport-title-color);
  transition: color 0.3s ease;
}
.freightForwarding-title-color {
  align-self: stretch;

  color: var(--freightforwarding-title-color);
  transition: color 0.3s ease;
}
.sales-label-color {
  color: var(--Card-Stroke-4, #f6fcff);
}
.userReport-label-color {
  color: var(--Card-Stroke-5, #f6fcff) !important;
}
.freightForwarding-label-color {
  color: var(--Card-Stroke-3, #f6fcff) !important;
}
.trans-outer-box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2%;
  align-self: stretch;
}
.sales-outer-box {
  display: flex;
  height: fit-content;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  /* flex-shrink: 0; */
  align-self: stretch;
}
.userReport-outer-box {
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 94px;
  flex-shrink: 0;
}
.freightForwarding-outer-box {
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 94px;
  flex-shrink: 0;
}
.userReport-inner-box {
  display: flex;
  justify-content: space-between;
}
.freightForwarding-inner-box {
  display: flex;
  justify-content: space-between;
}
.titles {
  /* Instrument Sans T1 */
  font-family: "Instrument Sans";
  font-size: var(--title-size);
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.imp-inner-box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  gap: 2px;
  align-self: stretch;
}
.exp-inner-box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  gap: 2px;
  align-self: stretch;
}
.trans-inner-box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2px;
  align-self: stretch;
}
.accounts-inner-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4px;
  align-self: stretch;
}
.sales-inner-box {
  display: flex;
  align-items: center;
  gap: 10%;
  align-self: stretch;
}
.accounts-inner-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
  align-self: stretch;
}
.accounts-first-row {
  display: flex;
  /* height: 62px; */
  align-items: center;
  align-self: stretch;
  gap: 12%;
}
.accounts-second-row {
  display: flex;
  /* height: 62px; */
  align-items: center;
  align-self: stretch;
}
.accounts-third-row {
  display: flex;
  width: 100%;
  height: 47px;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  gap: 3px;
  flex-shrink: 0;
}
.accounts-first-row-fields {
  display: flex;
  /* flex-direction: column;
  flex: 1 0 0; */
  color: var(--Card-Stroke-3, #f6fcff);

  /* Lato Body */
  font-family: Lato;
  font-size: var(--font-size);
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.accounts-second-row-fields {
 display: flex;
  /* flex-direction: column;
  flex: 1 0 0; */
  font-style: normal;
  line-height: normal;
  color: var(--Card-Digits-3, #f1d2f0);

  font-family: "Instrument Sans";
  font-size: var(--digits-size);
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.accounts-third-row-fields {
  color: var(--Card-Stroke-3, #f6fcff);

  /* Lato Body */
  font-family: Lato;
  font-size: var(--font-size);
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.sales-col {
  display: flex;
  height: fit-content;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
  flex: 1 0 0;
  padding-left: 8px;
  padding-top: 8px;
  border-radius: 12px;
}
.sales-inner-title {
  align-self: stretch;
  color: var(--sales-inner-title-color);

  /* Instrument Sans */
  font-family: "Instrument Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.sub-boxes {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
  flex-direction: column;
  align-items: flex-start;
}
.sales-sub-boxes {
  display: flex;
  width: fit-content;
  height: fit-content;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  gap: 3px;
  flex-shrink: 0;
}
.number-data {
  /* Instrument Sans Digits */
  font-family: "Instrument Sans";
  font-size: var(--digits-size);
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.accounts-number-data {
  color: var(--Card-Digits-3, #f1d2f0);

  font-family: "Instrument Sans";
  font-size: var(--digits-size);
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.imp-num-color {
  color: var(--Card-Digits, #d1eeff);
}
.exp-num-color {
  color: var(--Card-Digits-1, #d5f1d2);
}
.trans-num-color {
  color: var(--Card-Digits-2, #ffdbdd);
}
.accounts-num-color {
  color: var(--Card-Digits-3, #f1d2f0);
}
.sales-num-color {
  color: var(--Card-Digits-4, #bdf2f5);
}
.userReport-num-color {
  color: var(--Card-Digits-5, #f1ead2);
}
.freightForwarding-num-color {
  color: var(--Card-Digits-6, #f1d2f0);
}
.fields {
  color: var(--Card-Stroke, #f6fcff);

  /* Lato Body */
  font-family: Lato;
  font-size: var(--font-size);
  letter-spacing: 0.2px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.trans-fields {
  color: var(--Card-Stroke-2, #f6fcff);

  /* Lato Body */
  font-family: Lato;
  font-size: var(--font-size);
  letter-spacing: 0.2px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.dashboard-chartContainer {
  background-color: transparent;
  border-radius: 8px;
  padding: 15px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  height: 240px;
  width: 100%;
  margin-bottom: 20px;
}