:root{
  --trans-font-color-1: #1e2652;
  --activetab-color:#60B6E8;
  --activetab-bg-color:#1E2652;
  --tab-color:#60B6E8;
  --tab-bg-color:#F6FCFF;
  --tableData-color: #1e2652;
  --tableHead-bg: #2f4096;
}
:global(.dark-mode){
  --trans-font-color-1: #f6fcff;
  --activetab-color:#101322;
  --activetab-bg-color:#ABD3EB;
  --tab-color:#F6FCFF;
  --tab-bg-color:#10152E;
  --title-color: #d1eeff;
  --tableData-color: #f6fcff;
  --tableHead-bg: #101322;

}
.container {
    width: 100%;
    height: fit-content;
  }
  .firstRow {
    display: flex;
    flex-direction: row;
  }
  .backButtonP {
    flex-shrink: 0;
  }
  .datePicker {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 16px;
  }
  .impTransBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    left: calc(50% - 80px);
  }
  .impTransTitle {
    color: var(--trans-font-color-1);
  
    /* Instrument Sans T1 */
    font-family: "Instrument Sans";
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    transition: color 0.3s ease;
  }
  .impTransTotalJobs {
    color: var(--Card-Bg, #333d70);
  
    /* Lato Body 2 */
    font-family: Lato;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    word-spacing: 3px;
    transition: color 0.3s ease;

  }
  .title {
    margin-top: 10px;
    align-self: stretch;
    color: var(--Card-Row-2, #D8F0FD);
  
    /* Instrument Sans T1 */
    font-family: "Instrument Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
  .secondRow {
    margin-top: 20px;
    padding: 10px 30px;
    border-radius: 40px;
    border: 4px solid var(--Table-Row-1, #f6fcff);
    background-color: var(--Table-Column, #2f4096);
  }
  .innerContainer {
    margin-top: 20px;
  
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .subTitle {
    color: var(--Card-Stroke, #f6fcff);
  
    /* Lato Body */
    font-family: Lato;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  .subNo {
    color: var(--Card-Digits, #d1eeff);
  
    /* Instrument Sans T1 */
    font-family: "Instrument Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
  .line {
    margin-top: 20px;
    width: 95%;
    transform: translate(2.5%, 0%);
    height: 1px;
    background-color: var(--Card-Bg, #333d70);
  }
  .thirdRow {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  .tableTitle {
    width: fit-content;
    margin: 20px 0px;
    position: relative;
    left: calc(50% - 130px);
    color: var(--Card-Bg, #333d70);
  
    /* Instrument Sans T1 */
    font-family: "Instrument Sans";
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
  .tableHead {
    background-color: var(--tableHead-bg);
    color: var(--Table-Row-1, #f6fcff);
  
    /* Table Title */
    font-family: "Instrument Sans";
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    white-space: nowrap;
    transition: background-color 0.3s ease;

  }
  .tableData {
    color: var(--tableData-color);
  
    /* Table Body */
    font-family: "Instrument Sans";
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.14px;
    transition: color 0.3s ease;

  }
  .tableData td {
    white-space: nowrap;
  }
  table {
    table-layout: auto; /* ✅ Allows dynamic column width */
    width: 100%; /* Ensures it uses full space */
  }
  .overflow-x-auto {
    overflow-x: auto; /* ✅ Enables horizontal scrolling */
    max-width: 100%;
  }
  
  .fourthRow {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
  }
  .thirdRow {
    margin-top: 12px;
  }
  .tabsRow{
    margin-top: 10px;
  }
  .tabsContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
  }
  .tabs {
    display: flex;
    align-items: center;
    justify-content: center; /* Center content horizontally */
    text-align: center;
    width: 180px;
    padding: 8px 1%;
    border-radius: 12px;
    background-color: var(--tab-bg-color);
    color: var(--tab-color);
    transition: color 0.3s ease , background-color 0.3s ease;

  
    /* Instrument Sans */
    font-family: "Instrument Sans";
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    cursor: pointer;
}

  .ActiveTab {
    display: flex;
    width: 180px;
    align-items: center;
    justify-content: center;
    padding: 8px 1%;
    border-radius: 12px;
    background-color: var(--activetab-bg-color);
    color: var(--activetab-color);
    transition: color 0.3s ease , background-color 0.3s ease;

  
    /* Instrument Sans */
    font-family: "Instrument Sans";
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }